    /** ABOUT PAGE STYLING **/

    header.about {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        align-items: center;
        margin: 0 auto;
        padding: 6rem 0;
        max-width: 1200px;
    }

    h1.opening-about {
        font-size: 5.2rem;
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        padding-bottom: 1rem;
        line-height: 7.1rem;
        margin: 0 auto;
    }

    .honeycomb-about {
        margin-right: 6rem;
    }

    section.about-paragraphs {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-gap: 3rem;
        margin: 0 auto;
        padding: 3rem 0 6rem 0;
        max-width: 1200px;
    }

    h2.about {
        margin-top: 1.5rem;
        padding-bottom: 1rem;
    }

    p.about {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    div.about-intro {
        max-width: 42.8rem;
    }

    img.me {
        display: block;
        float: right;
        width: 100%;
    }
    /** ABOUT PAGE **/
    /**MOBILE**/

    @media screen and (max-width: 375px) {
        section.about-paragraphs {
            display: grid;
            grid-template-columns: 1fr;
            padding: 1.6rem;
        }
        header.about {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 6rem;
            margin: 0 auto;
            max-width: 1190px;
            padding: 4rem 1.6rem 1.6rem 1.6rem;
        }
        h1.opening-about {
            font-size: 5.2rem;
            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
            padding-bottom: 1rem;
            padding-top: 2rem;
            line-height: 7.1rem;
        }
        img.me {
            width: 100%;
        }
    }
    /** TABLET **/

    @media screen and (max-width:768px) and (min-width: 375px) {
        header.about {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
        img.me {
            float: left;
        }
        a.logo {
            width: 100%;
        }
        section.about-paragraphs {
            display: grid;
            grid-template-columns: 1fr;
        }
        h1.opening-about {
            padding-top: 0;
        }
    }

    @media screen and (max-width:1024px) and (min-width: 769px) {
        header.about {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
            padding: 6rem 6rem 0 6rem;
        }
    }
