/** EDUBOX CASE STUDY STYLING**/




h3.section-subheading {
    background-color: #E0F9FF;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    margin: 2rem 0 1rem 0;
    padding: .8rem;
}

.conclusion-subheading {
    background-color: #E0F9FF;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    margin: 0;
    padding: .8rem;
}

li {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.8rem;
}

.edubox-case-study {
    /**max-width: 1200px;**/
    margin: 0 auto;
}

.edubox-header {
    width: 100%;
    background-image: url("../images/edubox-hero-bg.png");
    background-size: cover;
    animation: fadein 3s;
}

h1.projectTitle {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 6rem;
    line-height: 153.36%;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.projectDesc {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 3rem;
}

p.edubox-intro-paragraph {
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 68rem;
}

img.mockup {
    display: flex;
    margin: auto;
    padding: 5rem;
    width: 80%;
}

.logo-1 {
    width: 100%;
}

#landing-mockup {
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    width: 100%;
}

img.usability-testing {
    width: 100%
}

h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 153.36%;
    margin: 2rem 0 2rem 0;
    text-align: center;
    position: relative;
    width: 100%;
}

 

div.project-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 90rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.project-overview {
    padding: 2.5rem;
    margin: auto;
    justify-items: center;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    max-width: 90rem;
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
}

div.design-process {
    content: url("../images/design-process.png");
    width: 80%;
    margin: 0 auto;
}

.section-heading {
    display: flex;
    padding: 6rem 0 3rem 0;
    font-size: 3.6rem;
}

.section-heading::after {
    content: ' ';
    margin-left: 1em;
    border-top: 1px solid #4349FF;
    display: block;
    flex-grow: 1;
    align-self: center;
}

div.info-rectangle-survey {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    text-align: left;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    max-width: 90rem;
    padding: 5rem;
}

.percentages {
    color: #4349FF;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 153.36%;
    text-align: left;
}

.survey-note {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    grid-column: 1 / span 2;
}


/**div.survey-quote {
        background-color: #4349FF;
        width: 100vw;
        padding: 2rem;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 20rem;
    }
    
    p.survey-quote {
        color: #FFFFFF;
        font-size: 5rem;
        line-height: 30px;
        margin: 0 auto;
    }
    
    p.survey-respondent {
        color: #FFFFFF;
    }**/

section {
    display: block;
    margin: 0 auto;
    max-width: 1015px;
}

p.case-study-paragraph {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;
}

p.case-study-paragraph-overview {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

p.case-study-paragraph-persona {
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 3rem;
    text-align: left;
}

p.photo-caption {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

ul.case-study-list {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    max-width: 65rem;
}

div.info-rectangle.comp-analysis {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 5rem;
    margin: auto;
    justify-items: center;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    max-width: 90rem;
}

.comp-analysis>div {
    text-align: center;
}

.competitive-desc {
    text-align: left;
}

.center-button {
    display: flex;
    justify-content: center;
}

div.personas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.john-text {
    padding-left: 3rem;
}

.wireframe-images {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    width: 100vw;
    padding: 2rem;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.w-100,
.persona-image {
    width: 100%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
}

.w-60 {
    max-width: 60%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: .8rem;
}

.w-80 {
    max-width: 80%;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: .8rem;
}

p.visual-section1 {
    padding-top: 2rem;
}

p.visual-section2 {
    padding-top: 15rem;
}

img.design-process-image {
    padding-top: 5rem;
    width: 90%;
}

.logo-designing {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

div.color-palette,
.typography {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.hifi1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 100vw;
    padding: 2rem;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

div.final-mockup-images {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

.preftest1 {
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: .8rem;
}

img.final-mockups {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 2rem;
}

ol {
    counter-reset: li;
    max-width: 60rem;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-align: left;
}

ol.persona-list {
    padding: 0;
    margin: 0;
}

ol>li {
    display: flex;
    counter-increment: li;
    margin-bottom: 0.5rem;
}

ol>li::before {
    content: counter(li);
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Montserrat';
    background-color: #5E7CFF;
    border-radius: 50%;
    margin-right: 0.7rem;
    text-align: center;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
}

h4.persona-name {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    font-size: 2.6rem;
    padding: .5rem .5rem .5rem 1rem;
    margin: 0;
}

h4.persona-heading {
    font-size: 2.2rem;
    margin: 0;
    padding: 2rem 0 2rem 0;
}

h4.designspecs-titles {
    margin: 0;
    text-align: left;
    padding-bottom: 2rem;
}

p.roles-column {
    text-align: left;
}

.section-subheading-problem,
.section-subheading-solution {
    align-items: center;
    background-color: #E0F9FF;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    margin: 2rem 0 2rem 0;
    padding: .8rem;
}

.section-subheading-problem::before,
.section-subheading-solution::before {
    background-size: 100%;
    background-repeat: no-repeat;
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.section-subheading-problem::before {
    background-image: url("../images/sad-face.svg");
}

.section-subheading-solution::before {
    background-image: url("../images/happy-face.svg");
}

.pref-1,
.pref-2,
.pref-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}


/** MEDIA QUERIES **/


/** EDUBOX PROJECT MEDIA QUERIES **/


/** MOBILE SCREEN **/

@media screen and (max-width: 375px) {
    .edubox-header {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    img.mockup {
        width: 100%;
        padding: 1rem;
    }
    div.project-overview {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1fr;
        justify-items: left;
        margin: 1.6rem;
    }
    div.design-process {
        content: url("../images/design-process-mobile.png");
    }
    h4.designspecs-titles {
        margin: 0;
        text-align: left;
        padding: 1rem 0 1rem 0;
    }
    div.info-rectangle-survey {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        padding: 2rem;
    }
    div.info-rectangle.comp-analysis,
    div.personas,
    div.wireframe-images,
    div.hifi1,
    div.logo-designing,
    div.final-mockup-images,
    div.pref-1,
    div.pref-2,
    div.pref-3 {
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        display: block;
    }
    .footer-line {
        max-width: 80%
    }
    h2.section-heading {
        font-size: 2.8rem;
    }
    h2.projectDesc {
        font-size: 1.8rem;
        margin: 1rem;
    }
    h3.section-subheading {
        font-size: 2.4rem;
    }
    p.case-study-paragraph {
        font-size: 1.6rem;
    }
    p.photo-caption {
        font-size: 1.5rem;
        font-weight: 500;
    }
    img.icon,
    img.comp {
        width: 60%;
    }
    .edubox-header {
        background-size: cover;
    }
    .survey-note {
        grid-column: 1;
        padding-bottom: 0;
        height: auto;
    }
    section {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }
    .w-40 {
        max-width: 90%;
    }
    .w-60 {
        max-width: 90%;
    }
    div.color-palette,
    .typography {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}


/** TABLET SCREEN **/

@media screen and (max-width:768px) and (min-width: 376px) {
    img.mockup {
        padding: 0;
    }
    .edubox-header {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div.project-overview {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    div.info-rectangle.comp-analysis {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    div.info-rectangle-survey {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.personas,
    div.hifi1,
    div.pref-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    div.personas {
        padding-left: 3rem;
    }
    div.logo-designing {
        display: grid;
        grid-template-columns: 1fr;
    }
    img.icon,
    img.comp {
        width: 40%;
    }
    div.wireframe-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    h4.persona-name {
        display: inline-flex;
        width: 441.95px;
    }
    .persona-image {
        width: 60%;
        box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
        margin-left: 0;
    }
    div.final-mockup-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-line {
        max-width: 80%
    }
    section {
        margin-left: 16px;
        margin-right: 16px;
    }
}


/** TABLET LANDSCAPE **/

@media screen and (max-width:1024px) and (min-width: 769px) {
    img.mockup {
        padding: 0;
    }
    .edubox-header {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div.info-rectangle-survey {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div.hifi1,
    div.pref-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    div.personas {
        padding-left: 3rem;
    }
    div.logo-designing {
        display: grid;
        grid-template-columns: 1fr;
    }
    img.icon,
    img.comp {
        width: 40%;
    }
    div.wireframe-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    .persona-image {
        margin-left: 0;
    }
    div.final-mockup-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-line {
        max-width: 80%
    }
    section {
        margin-left: 16px;
        margin-right: 16px;
    }
}