/**HOMEPAGE STYLING**/

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

.header-wrapper {
    position: relative;
    animation: fadein 4s;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #FFFFFF;
}

div.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

div.projects-grid-2 {
    display: grid;
    grid-template-columns: 2fr;
    grid-column-gap: 3rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.header-home {
    padding-top: 30rem;
    position: relative;
    overflow: hidden;
}

.header-home-bg {
    background: radial-gradient(circle, rgba(234, 239, 255, 1) 0%, rgba(255, 245, 213, 1) 50%, rgba(225, 233, 255, 1) 100%);
    background-size: 100%;
    animation: bg-animation 5s linear alternate infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

@keyframes bg-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}

.mockup-home-phones {
    margin: 0 auto;
    max-width: 600px;
    padding: 15px 0;
}

h1.opening {
    font-size: 44px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    line-height: 71px;
    text-align: left;
    margin: 0 auto;
    max-width: 900px;
}

span.color-text {
    color: #4349FF;
    font-weight: 400;
    padding: .2rem;
}

p.project-tag {
    background-color: #4349ff1f;
    border-radius: 4px;
    color: #000010b8;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    height: 2.8rem;
    margin-right: .5rem;
}

div.project-tags {
    margin-top: 1rem;
}

.intro {
    color: #111240;
    font-size: 2.2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    padding-top: 2rem;
    line-height: 147%;
    text-align: left;
    max-width: 800px;
    margin-left: 150px;
}

strong.home-intro {
    color: #111240;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

h2.project-title {
    color: #111240;
    font-size: 3.4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.recent-projects {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 42px;
    text-align: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.down-arrow {
    position: sticky;
    bottom: 20px;
    display: block;
    margin: 0 auto;
    width: 100px;
    width: 36px;
    margin-top: 30rem;
}

.info-rectangle.project1 {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    min-height: 300px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    transition: .4s;
    display: flex;
}

.info-rectangle.project1:hover {
    transform: scale(1.02);
}

.project-info {
    padding: 2rem 0 2rem 2rem;
    align-self: center;
}

.mockup-home {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.project-description {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    max-width: 35rem;
    line-height: 141%;
    color: #111240a8;
    padding: 3rem 0;
}


/* Ipad and Tablet Portrait*/

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    h1.opening {
        font-size: 30px;
        line-height: 50px;
        max-width: 800px;
        margin: 0 34px;
    }
    p.intro {
        font-size: 16px;
        text-align: left;
        max-width: 600px;
        margin: 0 36px;
    }
    p.recent-projects {
        max-width: 800px;
        margin: 0 34px;
    }
    .info-rectangle.project1 {
        margin-left: 34px;
        margin-right: 34px;
    }
    p.project-tag {
        margin-top: .5rem;
    }
    .mockup-home {
        margin: 0 auto;
        max-width: 300px;
    }
    .mockup-home-phones {
        margin: 0 auto;
        max-width: 300px;
    }
}


/* Phone Portrait*/

@media screen and (max-width: 767px) {
    .info-rectangle.project1 {
        flex-wrap: wrap;
        margin-left: 16px;
        margin-right: 16px;
    }
    .project-title {
        margin-bottom: 2rem;
    }
    .project-info {
        flex: 100%;
        padding: 2rem;
        text-align: center;
    }
    .mockup-home-container {
        flex: 100%;
        padding: 1rem;
        max-width: 500px;
    }
    .mockup-home {
        max-width: 400px;
    }
    .mockup-home-edubox {
        max-width: 400px;
    }
    .down-arrow {
        display: none;
    }
    .header-home {
        background-image: none;
        margin-top: 9rem;
        margin-bottom: 6rem;
        padding-top: 1rem;
    }
    h1.opening {
        font-size: 24px;
        line-height: 50px;
        max-width: 320px;
        margin: 0 34px;
    }
    p.intro {
        font-size: 16px;
        text-align: left;
        max-width: 320px;
        margin: 0 36px;
    }
    p.recent-projects {
        font-size: 24px;
        max-width: 320px;
    }
    img.mockup-home-phones {
        max-width: 320px;
    }
    footer {
        width: 100%;
        background-color: #111240;
        padding: 20px 16px;
    }
    h3.footer-greeting {
        font-size: 28px;
        padding-bottom: 10px;
    }
    p.footer-paragraph {
        font-size: 18px;
    }
    div.projects-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}