/**HOMEPAGE STYLING**/

html {
    scroll-behavior: smooth;
      font-size: 10px;
}


.header-wrapper {
  position: relative;
  animation: fadein 3s;
  max-width: 1200px;
  margin: 0 auto;

}



.header-home {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20rem;
}

a.button {
    margin-top: 2rem;
}





.mockup-home-phones {
    margin: 0 auto;
    max-width: 450px;
    padding: 15px 0;
}

h1.opening {
    font-size: 4.3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    line-height: 71px;
    text-align: left;
    margin: 0 auto;
    max-width: 900px;
}

span.color-text {
    color: #4349FF;
    font-weight: 400;
    padding: .2rem;
}

p.project-tag {
    background-color: #D7DDFF;
    border-radius: 4px;
    color: #4349FF;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 .8rem;
    display: inline-flex;
    height: 2.8rem;
    margin-right: .5rem;
}

div.project-tags {
    margin-top: 1.5rem;
}

.intro {
    font-size: 2.8rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
    padding-top: 2rem;
    line-height: 147%;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

h2.project-title {
    color: #282828;
    font-size: 4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.recent-projects {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 42px;
    text-align: center;
    padding-bottom: 1.5rem;
}

.down-arrow {
    position: sticky;
    bottom: 20px;
    display: block;
    margin: 0 auto;
    width: 100px;
    width: 36px;
    margin-top: 30rem;
}

.info-rectangle.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    min-height: 413px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    transition: .3s;
}

.info-rectangle.project1:hover {
  transform: scale(1.04);
}

.project-info {
    padding: 4rem 0 4rem 4rem;
}


.mockup-home {
    width: 100%;
    margin: 0 auto;
    max-width: 450px;
}

.project-description {
    font-weight: 300;
    text-align: left;
    max-width: 36rem;
    margin: 0 auto;
    line-height: 141%;
    margin-top: 1.5rem;
}



@media screen and (max-width: 768px) {

    .info-rectangle.project1 {
        flex-wrap: wrap;
    }
    .project-title {
        margin-bottom: 2rem;
    }
    .project-info {
        flex: 100%;
        padding: 2rem;
        text-align: center;
    }
    .mockup-home-container {
        flex: 100%;
        padding: 1rem;
        max-width: 500px;
    }
    .mockup-home {
        max-width: 400px;
    }

    .mockup-home-edubox {
        max-width: 400px;
    }

    .down-arrow {
        display: none;
    }
    .header-home {
        margin-top: 9rem;
        margin-bottom: 6rem;
    }
}
