*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
    color: #282828;
}


nav.navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 14.4rem;
    margin-top: 2.5rem;
    margin-right: 14.4rem;
}

.navigation ul li {
    padding-left: 3rem;
    display: inline-block;
    float: right;
}


.header-honeycomb {
  margin: 0 auto;
  max-width: 1190px;
  position: relative;
}

.honeycomb {
  position: absolute;
  right: 0;
  top: 16rem;
  z-index: -1;
}

.mockup-home {
    width: 65%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 3rem;
}

a.button {
    background-color: #4349FF;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
} .nav-link {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #282828;
} .nav-link:hover {
    text-decoration: underline;
}

a.button:hover {
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


h1.opening {
    font-size: 5.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 20rem;
    line-height: 71px;
}

div.info-rectangle.project1 {
    height: 700px;
    max-width: 1190px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 4rem;
} .project-info {
    width: 25%;
    margin-left: 2rem;
}

h2.project-title {
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 20rem;
}

p {
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    line-height: 2.8rem;
}

.intro {
    font-size: 2.4rem;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    padding-top: 2rem;
    line-height: 147%;
    width: 50%;
} .recent-projects {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 42px;
    text-align: center;
    padding-bottom: 7rem;
} .copyright {
    margin-bottom: 2rem;
    text-align: center;
}

h3 {

} .footer-greeting {
    font-size: 2.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 3rem;
}

.project-description {
    line-height: 141%;
    width: 25rem;
    margin-top: 2rem;
}

strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

div.down-arrow {
    margin: 0 auto;
    width: 100px;
    width: 36px;
    padding-bottom: 7rem;
    padding-top: 30rem;
}

span.footer-line {
    display: block;
    width:1190px;
    border-top: 1px solid #9F9F9F;
    margin: 0 auto;
}

footer {
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links li {
     margin: 1.5rem;
 }

 h2 {
     color: #4349FF;
     font-family: 'Poppins', sans-serif;
     font-size: 3.2rem;
     font-weight: 600;
 }

 h3.section-subheading {
    background-color: #E0F9FF;
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .8rem;
 }

 li {
     font-size: 1.6rem;
     font-family: 'Muli', sans-serif;
     line-height: 2.8rem;
 }

/**GRID**/

 .comp-analysis {
   display: grid;
   grid-template-columns: 20rem 20rem 20rem;
   grid-gap: 8rem;
   grid-template-rows: 1fr;
   padding: rem;
 }

 p {
   display: grid;
   grid-template-columns: 70rem;
   align-items: center;
 }

div.final-mockup-images {
  display: grid;
   grid-template-columns: 2fr 2fr;
   grid-template-rows: 2fr 2fr 2fr;
 }


 div.pref-1 .pref-2 .pref-3 {
  display: grid;
  grid-template-columns: 2fr 2fr
 }



 div.survey {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   grid-template-rows: 2fr 2fr 2fr;
 }

div.design-role {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }

 div.personas {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }

