/**STYLING FOR ALL PAGES**/

html {
    font-size: 10px;
}

a.button {
    background-color: #4349FF;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
} 

a.button:hover {
    background-color: #5C61FF;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
}

body {
    background-color: white;
    color: #282828;
}

span.footer-line {
    display: block;
    width:1190px;
    border-top: 1px solid #9F9F9F;
    margin: 0 auto;
    margin-top: 5rem;
} 

footer {
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
}

img.icon {
    margin: 1.5rem;
}


 .copyright {
    text-align: center;
    margin-bottom: 2rem;
}

h3.footer-greeting {
    font-size: 2.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 3rem;
}


/**HOMEPAGE STYLING**/

/** Home Hero Section using Flexbox**/

.header-home {
  margin: 0 auto;
  max-width: 1190px;
  position: relative;
}

.honeycomb {
  position: absolute;
  right: 0;
  top: 16rem;
  z-index: -1;
} 

h1.opening {
    font-size: 5.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 20rem;
    line-height: 71px;
}

.intro {
    font-size: 2.4rem;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    padding-top: 2rem;
    line-height: 147%;
    width: 50%;
}

h2.project-title {
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 10rem;
}

p {
    font-size: 1.6rem;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    line-height: 2.8rem;
}

.recent-projects {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 42px;
    text-align: center;
    padding-bottom: 7rem;
}

.project-description {
    line-height: 141%;
    width: 25rem;
    margin-top: 2rem;
}

strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

div.down-arrow {
    margin: 0 auto;
    width: 100px;
    width: 36px;
    padding-bottom: 7rem;
    padding-top: 30rem;
}

/** EDUBOX CASE STUDY STYLING**/

 h2 {
     color: #4349FF;
     font-family: 'Poppins', sans-serif;
     font-size: 3.2rem;
     font-weight: 600;
 }

 h3.section-subheading {
    background-color: #E0F9FF;
    display:inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .8rem;
 }

 li {
     font-size: 1.6rem;
     font-family: 'Muli', sans-serif;
     line-height: 2.8rem;
 }

 /**HOMEPAGE GRID**/
 
 nav.navigation {
     display: grid;
     grid-template-columns: repeat(10, 1fr);
     grid-gap: 2rem;
     font-size: 2rem;
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     text-decoration: none;
     color: #282828;
     margin-top: 3rem;
 }

 .logo {
    grid-column-start: 1;
    justify-self: right;
    align-self: center;
 }
 .home-link {
     grid-column-start: 8;
     text-decoration: none;
     color: #282828;
 }

 .work-link {
    grid-column-start: 9;
    text-decoration: none;
    color: #282828;
}

.about-link {
    grid-column-start: 10;
    text-decoration: none;
    color: #282828;
}

div.info-rectangle.project1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
    height: 55rem;
    max-width: 119rem;
    margin: 0 auto;
}

.mockup-home {
    padding: 5rem;
    width: 95%;
} 





