/**STYLING FOR ALL PAGES**/

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.button {
    background-color: #4349FF;
    border: none;
    color: #FFFFFF;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
}

a.button:hover {
    background-color: #5C61FF;
}

a.nav-links {
    position: relative;
}

a.nav-links:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1.5rem;
    content: "";
    display: block;
    height: .2rem;
    left: 50%;
    position: absolute;
    background: #5C61FF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.nav-links:hover:after {
    width: 100%;
    left: 0;
}

body {
    background-color: white;
    color: #282828;
}

span.footer-line {
    display: block;
    width: 1190px;
    border-top: 1px solid #9F9F9F;
    margin: 0 auto;
    margin-top: 5rem;
}

footer {
    width: 100%;
}

.social-links {
    display: flex;
    justify-content: center;
}

img.icon {
    margin: 1.5rem;
}

.copyright {
    text-align: center;
    margin-bottom: 2rem;
}

h3.footer-greeting {
    font-size: 2.8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 3rem;
}


/**HOMEPAGE STYLING**/

.header-home {
    margin: 0 auto;
    max-width: 1190px;
    position: relative;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.honeycomb {
    content: url("../images/honeycomb.svg");
    position: absolute;
    right: 0;
    top: 16rem;
    z-index: -1;
}

h1.opening {
    font-size: 5.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 20rem;
    line-height: 71px;
}

.intro {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding-top: 2rem;
    line-height: 147%;
    width: 50%;
}

h2.project-title {
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 3rem;
}

.recent-projects {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 42px;
    text-align: center;
    padding-bottom: 7rem;
}

.project-description {
    line-height: 141%;
    width: 25rem;
    margin-top: 2rem;
}

strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

div.down-arrow {
    margin: 0 auto;
    width: 100px;
    width: 36px;
    padding-bottom: 7rem;
    padding-top: 30rem;
}


/** EDUBOX CASE STUDY STYLING**/

h2 {
    color: #4349FF;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}

h3.section-subheading {
    background-color: #E0F9FF;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    margin: 2rem 0 1rem 0;
    padding: .8rem;
}

li {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.8rem;
}

nav.navigation {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(10, 1fr);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    max-width: 1190px;
    text-decoration: none;
    color: #282828;
    padding-top: 3rem;
}

.logo {
    grid-column-start: 1;
    justify-self: left;
    align-self: center;
}

.home-link {
    grid-column-start: 8;
    text-decoration: none;
    justify-self: right;
    color: #282828;
}

.work-link {
    grid-column-start: 9;
    text-decoration: none;
    justify-self: right;
    color: #282828;
}

.about-link {
    grid-column-start: 10;
    text-decoration: none;
    justify-self: right;
    color: #282828;
}

.info-rectangle.project1 {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
    border-radius: .8rem;
    max-width: 119rem;
    margin: 0 auto;
}

.mockup-home-container {
    padding: 5rem;
}

.mockup-home {
    width: 100%;
}

.project-info {
    padding: 4rem;
}

.edubox-case-study {
    /**max-width: 1200px;**/
    margin: 0 auto;
}

.edubox-header {
    width: 100%;
    background-image: url("../images/edubox-hero-bg.png");
    background-size: cover;
}

h1.projectTitle {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 6rem;
    line-height: 153.36%;
    text-align: center;
    margin: 2rem 0 1rem 0;
}

.projectDesc {
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 3rem;
}

p.edubox-intro-paragraph {
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 68rem;
}

img.mockup {
    display: flex;
    margin: auto;
    padding: 5rem;
    width: 80%;
}

img.usability-testing {
    width: 100%
}

h4 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 153.36%;
    margin: 3rem 0 3rem 0;
}

div.project-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 90rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.project-overview {
    padding: 2.5rem;
    margin: auto;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
    border-radius: 8px;
    max-width: 90rem;
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
}

.section-heading {
    display: flex;
    padding: 6rem 0 6rem 0;
    font-size: 3.6rem;
}

.section-heading::after {
    content: ' ';
    margin-left: 1em;
    border-top: 1px solid #4349FF;
    display: block;
    flex-grow: 1;
    align-self: center;
}

div.info-rectangle-survey {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr auto;
    grid-gap: 5rem;
    text-align: left;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
    border-radius: 8px;
    max-width: 90rem;
    padding: 5rem;
}

.percentages {
    color: #4349FF;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 153.36%;
    text-align: left;
}

.survey-note {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    grid-column: 1 / span 2;
}

section {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

p.case-study-paragraph {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: left;
}

p.photo-caption {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

ul.case-study-list {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    max-width: 65rem;
}

div.info-rectangle.comp-analysis {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 5rem;
    margin: auto;
    justify-items: center;
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
    border-radius: 8px;
    max-width: 90rem;
}

.comp-analysis>div {
    text-align: center;
}

.competitive-desc {
    text-align: left;
}

.center-button {
    display: flex;
    justify-content: center;
}

div.personas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.john-text {
    padding-left: 3rem;
}

.wireframe-images {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    width: 100vw;
    padding: 2rem;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.w-100 {
    width: 100%;
}

.logo-designing {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hifi1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.final-mockup-images {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

.preftest1 {
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.25);
}

ol {
    counter-reset: li;
    max-width: 60rem;
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-align: left;
}

ol>li {
    display: flex;
    counter-increment: li;
    margin-bottom: 0.5rem;
}

ol>li::before {
    content: counter(li);
    display: inline-block;
    color: #FFFFFF;
    background-color: #5E7CFF;
    border-radius: 50%;
    margin-right: 0.7rem;
    text-align: center;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
}

h4.persona-name {
    background: linear-gradient(89.26deg, #EAEBFD 0.4%, #E8EEFE 48.97%, #E8EEFF 99.61%);
    font-size: 2.6rem;
    padding: .5rem .5rem .5rem 1rem;
    margin: 0;
}

h4.persona-heading {
    font-size: 2.2rem;
    margin: 0;
    padding: 2rem 0 2rem 0;
}

h4.designspecs-titles {
    margin: 0;
    text-align: left;
    padding: 2rem 0 2rem 0;
}

p.roles-column {
    text-align: left;
}

.section-subheading-problem,
.section-subheading-solution {
    align-items: center;
    background-color: #E0F9FF;
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    margin: 2rem 0 2rem 0;
    padding: .8rem;
}

.section-subheading-problem::before,
.section-subheading-solution::before {
    background-size: 100%;
    background-repeat: no-repeat;
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.section-subheading-problem::before {
    background-image: url("../images/sad-face.svg");
}

.section-subheading-solution::before {
    background-image: url("../images/happy-face.svg");
}

.pref-1,
.pref-2,
.pref-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/** ABOUT PAGE STYLING **/

header.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    margin: 0 auto;
    max-width: 1190px;
    padding: 6rem;
}

h1.opening-about {
    font-size: 5.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-top: 20rem;
    line-height: 7.1rem;
}

.honeycomb-about {
    margin-right: 6rem;
}

section.about-paragraphs {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

h2.about {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

p.about {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/** MEDIA QUERIES **/


/** EDUBOX PROJECT MEDIA QUERIES **/


/** MOBILE SCREEN **/

@media screen and (max-width: 375px) {
    .edubox-header {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    nav.navigation {
        font-size: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    img.mockup {
        padding-bottom: 4rem;
    }
    div.project-overview {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1fr;
        justify-items: left;
        margin: 3rem;
    }
    div.info-rectangle-survey {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        padding: 2rem;
    }
    div.info-rectangle.comp-analysis,
    div.personas,
    div.wireframe-images,
    div.hifi1,
    div.logo-designing,
    div.final-mockup-images,
    div.pref-1,
    div.pref-2,
    div.pref-3 {
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        display: block;
        width: 90%;
    }
    img.persona {
        width: 95%;
    }
    .footer-line {
        max-width: 80%
    }
    h2.section-heading {
        font-size: 2.8rem;
    }
    h2.projectDesc {
        font-size: 1.8rem;
        margin: 1rem;
    }
    h3.section-subheading {
        font-size: 2.4rem;
    }
    p.case-study-paragraph {
        font-size: 1.6rem;
    }
    p.photo-caption {
        font-size: 1.5rem;
        font-weight: 500;
    }
    img.icon,
    img.comp {
        width: 60%;
    }
    img.comp {
        width: 50%;
    }
    .edubox-header {
        background-size: cover;
    }
}


/** TABLET SCREEN **/

@media screen and (max-width:768px) {
    nav.navigation {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        grid-gap: 2rem;
    }
    img.mockup {
        padding: 0;
    }
    .edubox-header {
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div.project-overview {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    div.info-rectangle.comp-analysis {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    div.personas,
    div.logo-designing,
    div.hifi1,
    div.pref-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        display: block;
        width: 100%;
    }
    img.icon,
    img.comp {
        width: 60%;
    }
    img.comp {
        width: 50%;
    }
    img.icon,
    img.comp {
        width: 60%;
    }
    div.wireframe-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    div.final-mockup-images {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-line {
        max-width: 80%
    }
}


/** HOME **/


/**MOBILE**/

@media screen and (max-width: 375px) {
    nav.navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
        padding-top: 2rem;
    }
    a.logo {
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: center;
    }
    a.home-link {
        font-size: 1.8rem;
        grid-row-start: 2;
        grid-column-start: 1;
        justify-self: center;
    }
    a.work-link {
        font-size: 1.8rem;
        grid-row-start: 2;
        grid-column-start: 2;
        justify-self: center;
    }
    a.about-link {
        font-size: 1.8rem;
        grid-row-start: 2;
        grid-column-start: 3;
        justify-self: center;
    }
    header.header-home {
        margin: 1.6rem;
    }
    div.honeycomb {
        opacity: 0.5;
        top: 9rem;
    }
    div.info-rectangle.project1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin: 1.6rem;
        justify-items: center;
    }
    .mockup-home-container {
        padding: 1rem;
    }
    img.mockup-home {
        width: 100%;
        margin: 0;
    }
    div.down-arrow {
        display: none;
    }
    p.recent-projects {
        font-size: 2.4rem;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    h1.opening {
        padding-top: 10rem;
        margin-left: 1.5rem;
        width: 80%;
    }
    p.intro {
        font-size: 2.2rem;
        width: 90%;
        margin-left: 1.5rem;
    }
    div.project-info {
        text-align: center;
        padding: 2rem;
    }
    p.project-description {
        text-align: left;
        width: 26rem;
    }
    p.copyright {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}


/**TABLET**/

@media screen and (max-width:768px) and (min-width: 376px) {
    nav.navigation {
        margin-left: 2rem;
        margin-right: 2rem;
        grid-gap: 3rem;
    }
    .header-home {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    div.honeycomb {
        content: url("../images/honeycomb-tablet.svg");
        width: 62%;
        top: 9rem;
    }
    h1.opening {
        width: 65%;
        padding-top: 10rem;
    }
    p.intro {
        width: 65%;
    }
    div.down-arrow {
        display: none;
    }
    p.recent-projects {
        padding-top: 10rem;
    }
    div.info-rectangle.project1 {
        grid-gap: 0;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    img.mockup-home {
        width: 120%;
    }
    h3.footer-greeting {
        font-size: 2.4rem;
    }
}