.marta-logo {
    margin: 0 auto;
    max-width: %;
}

.uc-bg {
    background-color: #003194;
    padding: 5rem 0;
}

ol>li::before {
    background-color: #003194;
}


/* Phone portrait */

@media screen and (max-width: 767px) {
    .marta-logo {
        margin: 0 auto;
        max-width: 70%;
    }
}